{
    email {$CADDY_EMAIL}
    debug
}

(basic-auth) {
  basic_auth / {
    {$PROXY_USERNAME} {$PROXY_PASSWORD_HASHED}
  }
}

# A snippet to check if a cookie token is set. if not, store the current page as the referer and redirect to auth site
(proxy-auth) {
    # if cookie not = some-token-nonsense
    @no-auth not header Cookie *myid={$PROXY_COOKIE_ID}*

    handle @no-auth {
        header Set-Cookie "myreferer={scheme}://{host}{uri}; Domain={$DOMAIN}; Path=/; Max-Age=30; HttpOnly; SameSite=Strict; Secure"
        redir https://auth.{$DOMAIN}
    }
}

# a pseudo site that only requires basic auth, sets cookie, and redirects back to original site
auth.example.com {
  route / {
    # require authentication
    import basic-auth
 
    # upon successful auth, set a client token
    header Set-Cookie "myid={$PROXY_COOKIE_ID}; Domain={$DOMAIN}; Path=/; Max-Age=3600; HttpOnly; SameSite=Strict; Secure"
     
    #delete the referer cookie
    header +Set-Cookie "myreferer=null; Domain={$DOMAIN}; Path=/; Expires=Thu, 25 Sep 1971 12:00:00 GMT; HttpOnly; SameSite=Strict; Secure"
     
    # redirect back to the original site
    redir {http.request.cookie.myreferer}
  }
 
  # fallback
  respond "Access denied" 403 {
		close
	}

}

# Pi-hole Admin Interface
pihole.{$DOMAIN} {
    import proxy-auth
    reverse_proxy pihole:80
    
    @root path /
    redir @root /admin 301
}